.odin-recipes{
    font-size: 36px;
    font-family:sans-serif,'Times New Roman', Times, serif;
}

.body-colors{
    color: white;
    background-color: #5D5C61;
}

.recipe-colors{
    color:#a8d4f1;
}
